.loginRoulletteMynd {
-fx-background-image:
   url("media/LoginRoullette.png");
   -fx-background-size: cover;
}

.spinRoulletteMynd {
-fx-background-image:
   url("media/rullettuBord.png");
   -fx-background-size: cover;
}

.offTakkamynd {
-fx-background-image:
   url("media/offTakki.png");
   -fx-background-size: cover;
}

.backgroundRoulette {
-fx-background-image:
   url("media/backgroundRoulette.png");
   -fx-background-size: cover;
}

.casinoChip {
-fx-background-image:
   url("media/casinoChip.png");
   -fx-background-size: cover;
}

